<!DOCTYPE html>
{% extends "app3/_layouts/base.html" %}
{% load widget_tweaks %}
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Fornecedor</title>
</head>
<body>
    {% block conteudo %}
     <div class="container mt-2 mb-5">
       <div class="row">
         <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
           <div class="card">
             <div class="card-body">
                <h5 class="card-title">Cadastro de Fornecedor</h5>
                <p class="card-text">Complete o formulário abaixo para cadastrar um novo <code>Fornecedor.</code></p>

                <form enctype="multipart/form-data" method="POST">
                    {% csrf_token %}

                                        <!-- Nome -->
                    <div class="input-group mb-3">
                         <div class="input-group-prepend">
                               <span class="input-group-text">Nome</span>
                         </div>
                            {% render_field form.nome class+="form-control" %}
                    </div>

                                        <!-- Email -->
                    <div class="input-group mb-3">
                         <div class="input-group-prepend">
                               <span class="input-group-text">E-mail</span>
                         </div>
                            {% render_field form.email class+="form-control" placeholder="nome@exemplo.com" %}
                    </div>

                                       <!-- Telefone -->
                    <div class="input-group mb-3">
                         <div class="input-group-prepend">
                               <span class="input-group-text">Telefone</span>
                         </div>
                            {% render_field form.telefone class+="form-control" placeholder="(43)00000-0000" %}
                    </div>

                                      <!-- Endereço -->
                    <div class="input-group mb-3">
                         <div class="input-group-prepend">
                               <span class="input-group-text">Endereço</span>
                         </div>
                            {% render_field form.endereco class+="form-control" %}
                    </div>
                                        <!-- CNPJ -->
                    <div class="input-group mb-3">
                         <div class="input-group-prepend">
                               <span class="input-group-text">CNPJ</span>
                         </div>
                            {% render_field form.CNPJ class+="form-control" placeholder="00.000.000/0000-00" %}
                    </div>

                                         <!-- Categoria -->
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                             <span class="input-group-text">Categoria</span>
                        </div>
                               {% render_field form.categoria class+="form-control" %}
                        <div id="imendaHTMLcategoria"></div>
                        <a href="#" id="btnAdicionaCategoria" ><i class="fa fa-plus"></i></a>

                    </div>

                       <hr>
                            <div class="text-right">
                                <a href="{% url 'app1:lista_fornecedores' %}" class="btn btn-outline-danger">Voltar</a>
                                <button class="btn btn-success">Enviar</button>
                            </div>
                    <hr>
                </form>

             </div>
           </div>
         </div>
       </div>
     </div>
   {% endblock %}
</body>
</html>