<!DOCTYPE html>
{% extends "app3/_layouts/base.html" %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Cliente</title>
</head>
<body>
    {% block conteudo %}
     <div class="container mt-2 mb-5">
       <div class="row">
         <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
           <div class="card">
             <div class="card-body">
                <h5 class="card-title">Cadastro de Cliente</h5>
                <p class="card-text">Complete o formulário abaixo para cadastrar um novo <code>Cliente.</code></p>

                <form enctype="multipart/form-data" method="POST">
                    {% csrf_token %}

                                        <!-- Nome -->
                    <div class="input-group mb-3">
                         <div class="input-group-prepend">
                               <span class="input-group-text">Nome</span>
                         </div>
                            {% render_field form.nome class+="form-control" %}
                    </div>
                                        <!-- Sobrenome -->
                    <div class="input-group mb-3">
                         <div class="input-group-prepend">
                               <span class="input-group-text">Sobrenome</span>
                         </div>
                            {% render_field form.sobrenome class+="form-control" %}
                    </div>
                                    <!-- Nascimento -->
                    <div class="input-group mb-3">
                         <div class="input-group-prepend">
                               <span class="input-group-text">Nascimento</span>
                         </div>
                            {% render_field form.nascimento class+="datepicker dateinput form-control" %}
                    </div>
                                        <!-- Email -->
                    <div class="input-group mb-3">
                         <div class="input-group-prepend">
                               <span class="input-group-text">E-mail</span>
                         </div>
                            {% render_field form.email class+="form-control" placeholder="nome@exemplo.com" %}
                    </div>
                                        <!-- CNPJ -->
                    <div class="input-group mb-3">
                         <div class="input-group-prepend">
                               <span class="input-group-text">CPF/CNPJ</span>
                         </div>
                            {% render_field form.CNPJ class+="form-control" placeholder="000.000.000-00 | 00.000.000/0000-00" %}
                    </div>
                                        <!-- Telefone -->
                    <div class="input-group mb-3">
                         <div class="input-group-prepend">
                               <span class="input-group-text">Telefone</span>
                         </div>
                            {% render_field form.telefone class+="form-control" placeholder="(43)00000-0000" %}
                    </div>
                                        <!-- Endereço -->
                    <div class="input-group mb-3">
                         <div class="input-group-prepend">
                               <span class="input-group-text">Endereço</span>
                         </div>
                            {% render_field form.endereco class+="form-control" %}
                    </div>
                       <hr>
                            <div class="text-right">
                                <a href="{% url 'app1:lista_clientes' %}" class="btn btn-outline-danger">Voltar</a>
                                <button class="btn btn-success">Enviar</button>
                            </div>
                </form>
             </div>
           </div>
         </div>
       </div>
     </div>
   {% endblock %}
</body>
</html>