<!-- Lista Clientes-->
{% extends "app3/_layouts/base.html" %}

{% block title %}Lista de Clientes{% endblock %}

{% block conteudo %}
<div class="container-fluid mt-2 mb-5">
  <div class="row">
    <div class="col-lg-15 col-md-12 col-sm-12 col-xs-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Lista de Cliente</h5>

          {% if clientes|length > 0 %}
            <p class="card-text">
              Aqui está a lista de <code>Clientes</code> cadastrados.
            </p>

            <table class="table">
              <thead class="thead-dark">
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Nome</th>
                <th scope="col">Sobrenome</th>
                <th scope="col">Nascimento</th>
                <th scope="col">E-mail</th>
                <th scope="col">CPF/CNPJ</th>
                <th scope="col">Telefone</th>
                <th scope="col">Endereço</th>
                <th scope="col" class="text-center">Ações</th>
              </tr>
              </thead>
              <tbody>
              {% for cliente in clientes %}
                <tr>
                  <th scope="row">{{ cliente.id }}</th>
                  <td>{{ cliente.nome }}</td>
                  <td>{{ cliente.sobrenome }}</td>
                  <td>{{ cliente.nascimento|date:"d/m/o" }}</td>
                  <td>{{ cliente.email }}</td>
                  <td>{{ cliente.CNPJ }}</td>
                  <td>{{ cliente.telefone }}</td>
                  <td>{{ cliente.endereco }}</td>
                  <td class="text-center">
                    <a href="{% url 'app1:atualiza_cliente' pk=cliente.id %}"
                       class="btn btn-primary">
                      Atualizar
                    </a>
                    <a href="{% url 'app1:deleta_cliente' pk=cliente.id %}"
                      class="btn btn-danger">
                        Excluir
                    </a>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
        {% else %}
          <div class="text-center mt-5 mb-5 jumbotron">
            <h5>Nenhum <code>Cliente</code> cadastrado ainda.</h5>
          </div>
        {% endif %}
          <hr />
          <div class="text-right">
            <a href="{% url 'app1:cadastra_cliente' %}" class="btn btn-success">
              Cadastrar Cliente
            </a>
          </div>
        <hr>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}