{% extends "app3/_layouts/base.html" %}

{% block title %}Metas{% endblock %}

{% block conteudo %}

<div class="container-fluid mt-2 mb-5">
  <div class="row">
    <div class="col-lg-15 col-md-12 col-sm-12 col-xs-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Lista de Metas</h5>

          {% if metas|length > 0 %}
            <p class="card-text">
              Aqui está a lista de <code>Metas</code> cadastrados.
            </p>
            <div class="search-list">
            <table class="table" id="myTable">
              <thead class="thead-dark">
              <tr class="text-center">
                <th scope="col">Id</th>
                <th scope="col">Cargo</th>
                <th scope="col">Data Criação/Modificação</th>
                <th scope="col">Mês de Referência</th>
                <th scope="col">Meta</th>
                <th scope="col">Concluída</th>
                  {% if user.is_staff %}
                      <th scope="col" class="text-center">Ações</th>
                  {% else %}
                      <th scope="col" class="text-center">----</th>
                  {% endif %}
              </tr>
              </thead>
              <tbody>
              {% for meta in metas %}
                <tr class="text-center">
                  <th scope="row">{{ meta.id }}</th>
                  <td>{{ meta.cargo }}</td>
                  <td>{{ meta.data|date:"d/m/o" }}</td>
                  <td>{{ meta.meses }}</td>
                  <td>{{ meta.meta }}</td>
                  <td>{{ meta.concluida }}</td>


                      {% if user.is_staff %}
                         <td class="text-center">
                              <a href="{% url 'app1:atualiza_meta' pk=meta.id %}" class="btn btn-primary">Atualizar</a>
                              <a href="{% url 'app1:deleta_meta' pk=meta.id %}" class="btn btn-danger">Excluir</a>
                      {% else %}
                              <th scope="col" class="text-center">----</th>
                         </td>
                      {% endif %}

                </tr>
              {% endfor %}
              </tbody>
            </table>
            </div>
        {% else %}
          <div class="text-center mt-5 mb-5 jumbotron">
            <h5>Nenhuma <code>Meta</code> cadastrado ainda.</h5>
          </div>
        {% endif %}
          <hr />
        {% if user.is_staff %}
          <div class="text-right">
            <a href="{% url 'app1:cadastra_meta' %}" class="btn btn-success">
              Cadastrar Meta
            </a>
          </div>
        {% endif %}
        <hr>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}