<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Cliente</title>
</head>
<body>
    {% block conteudo %}
        <div class="jumbotron card text-center">
            {% if cadastrado %}
                <div class="container">
                   <h1 class="alert-heading display-4">Funcionário Cadastrado com Sucesso!</h1>
                   <a href="{% url 'app1:funcionario' %}" class="btn btn-success">Cadastrar Novo Funcionário</a>
                </div>
            {% else %}
                <h3>Cadastro de Funcionário</h3>
                <h5>Complete o formulário abaixo para cadastrar um novo <code>Funcionário.</code></h5>

                <form enctype="multipart/form-data" method="POST">
                    {% csrf_token %}
                    {{ info_form|crispy }}
                    {{ func_form|crispy }}
                    <input type="submit" class="btn btn-danger" name="" value="Cadastrar">
                </form>
            {% endif %}
        </div>
    {% endblock %}
</body>
</html>