<!DOCTYPE html>
{% extends "app3/_layouts/base.html" %}
{% load static %}

{% block conteudo %}

     <style>
        .imagem {
            position: absolute;
            z-index: -1;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: #d5d6da;
            opacity: .75;
            width: 100%;
            height: 100%;
        }
        .conteudo {
            font-family: "Century Gothic";
            font-size: 1em;
            line-height: 8vh;
        }
    </style>
  <body class="d-flex flex-column h-100">
    <main role="main" class="flex-shrink-0" style="padding: 60px 15px 0;">
        <div class="imagem"></div>
          <link rel="stylesheet" href="{% static "app2/css/index.css" %}">
        <div class="conteudo"></div>
             <div class="row align-items-center">
                <div class="col align-self-center">
                   <div class="mt-5 text-center">
                         <h1 style="color: black;">Olá.</h1>
                      {% if user.is_authenticated %}
                          <h2 style="color: black;">Seja Bem Vindo, {{ user.username }}!</h2>
                      {% else %}
                          <h2 style="color: black;">Seja Bem Vindo, Desconhecido!</h2>
                      {% endif %}
                   </div>
                </div>
             </div>
          </div>
        </div>
    </main>
  </body>
{% endblock %}